@model DSAR.ViewModels.UserView;
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form asp-action="Logout" asp-controller="Account" method="post">
        <button type="submit">Logout</button>
    </form>
    @User.FindFirst("FirstName").Value مرحباً يا
    <form method="post" asp-controller="User" asp-action="Create">
    <div>
            <label asp-for="Id"></label>
            <input type="text" asp-for="Id" class="form-control" />
    </div>
    <div>
        @* <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control" /> *@
    </div>
    <div>
        @* <label asp-for="UserId"></label>
            <input type="text" asp-for="UserId" class="form-control" /> *@
    </div>
    <div>
        <label asp-for="FirstName"></label>
            <input type="text" asp-for="FirstName" class="form-control" />
            <label asp-for="LastName"></label>
            <input type="text" asp-for="LastName" class="form-control" />
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>
</body>
</html>