    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    body {
        background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .container {
        background: white;
        width: auto;
        height: auto;
        border-radius: 20px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        padding: 60px 40px;
        direction: rtl;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h1 {
        font-size: 32px;
        margin-bottom: 40px;
        color: #333;
        text-align: center;
    }


    .buttons {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        justify-content: center;
    }

    .btn {
        padding: 14px 30px;
        font-size: 18px;
        font-weight: 500;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: opacity 0.3s ease;
        color: white;
    }

        .btn:hover {
            opacity: 0.9;
        }

    .btn-submit {
        background-color: #216e33;
    }

    .btn-cancel {
        background-color: #933740;
    }
