html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background: linear-gradient(to right, #6dc1a8, #7ab8ea);
}
.main-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 950px;
}
.container {
    width: 1288px;
    height: 729px;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}



table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #ccc;
    text-align: right;
    padding: 12px;
    font-size: 14px;
}

th {
    color: #555;
    font-weight: bold;
}

td {
    height: 40px;
    color: #333;
}

.table-wrapper {
    overflow-y: auto;
    flex-grow: 1;
}

    .table-wrapper::-webkit-scrollbar {
        width: 8px;
    }

    .table-wrapper::-webkit-scrollbar-thumb {
        background: #aaa;
        border-radius: 4px;
    }

.btn {
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 4px;
    color: white;
    margin: 0 4px;
}

.btn-success {
    background-color: #28a745;
}

.btn-danger {
    background-color: #dc3545;
}

.arrow {
    position: absolute;
    font-size: 32px;
    cursor: pointer;
    color: #00c9a7;
    border: none;
    background: transparent;
    padding: 0;
    outline: none;
}

.arrow-left {
    left: 20px;
    bottom: 20px;
}




.arrow img {
    width: 32px;
    height: 32px;
    filter: brightness(0) saturate(100%) invert(52%) sepia(88%) saturate(350%) hue-rotate(120deg);
}
.filter-tabs {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.tab-button {
    padding: 12px 24px;
    border: none;
    background-color: #e5e5e5;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    transition: background-color 0.2s ease-in-out;
}

    .tab-button.active {
        background-color: #ffffff;
        font-weight: bold;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    }

    .tab-button:hover {
        background-color: #dcdcdc;
    }
