@model IEnumerable<DSAR.ViewModels.CaseStudyViewModel>
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/analyzer.css" asp-append-version="true" />

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8" />
    <title>اختيار المحلل</title>
   
</head>
<body>
    <div class="container">
        <h2>اختيار المحلل</h2>

        <table>
            <thead>
                <tr>
                    <th>المحلل</th>
                    <th>اسم المحلل</th>

                    <th>اختيار</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var analyzer in Model)
                {
                    <tr>
                        <td>@analyzer.UserId</td>
                        <td>@analyzer.FirstName</td>

                        <td>
                            <a asp-action="ConfirmAnalyzer"
                               asp-controller="Request"
                               asp-route-requestId="@analyzer.RequestId"
                               asp-route-userId="@analyzer.Id"
                               class="btn">
                                اختيار
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
